<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is HomePage</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas ab quasi reiciendis eligendi dignissimos unde quod dolor quibusdam? Consequatur, ipsam id! Vel officia quas reiciendis consequuntur doloremque dolores perferendis suscipit reprehenderit aperiam? Corrupti dolore nulla consequatur impedit temporibus nisi. Culpa ipsa tempora doloremque, perferendis numquam id atque itaque ratione. Officia iste ipsum ullam nam rem alias beatae eveniet voluptas accusantium aliquam ipsam corrupti reiciendis est, in aut modi id, quo consequatur esse vero recusandae? Maiores accusantium, labore quas dignissimos aliquam accusamus quasi? Quibusdam ea exercitationem tempore voluptatum accusamus eligendi facere fuga dolore dignissimos incidunt ex blanditiis corporis, aliquid nam in?</p>
    <h2>Fruits</h2>
    <ul>
        <li>Apple</li>
        <li>Orange</li>
        <li>Mango</li>
        <li>Bnanana</li>
        <li>WaterMelon</li>
    </ul>
    <h3> <%= 'harshit'.toUpperCase() %></h3>
    <button>Click Me !</button>
</body>
</html>