<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Portrait Image</h1>
    <hr>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam cum ab rem ratione debitis dolorum maiores at, praesentium nemo! Iure facere omnis corrupti tempora accusantium harum, repellendus saepe autem, ipsam incidunt reprehenderit enim laboriosam pariatur. Quidem iste rem earum aperiam, molestiae quos libero voluptatibus vel totam praesentium laboriosam beatae. Fugiat quae nihil quis, facere rem, eius atque r laboriosam, sint corporis ut. Doloremque facilis blanditiis deleniti quia labore corporis illo fugiat magnam animi minima quod, voluptates at rem quaerat voluptate eius quis, explicabo laudantium. Exercitationem corrupti voluptas vel! Quia minus mollitia possimus eius fugit voluptas eaque sunt vero id nemo debitis asperiores aperiam molestiae reiciendis neque sequi, iusto, iure sint laborum! Earum repudiandae cumque doloremque facere ab eius natus maxime dolorum itaque adipisci, optio ex cum unde id nulla harum reiciendis deserunt velit. Minus!</P>
    <hr>
    <button>Click here</button>
    <h3>Sum : <%= 1+3 %></h3>
    <h4> <%= "harshit".toUpperCase() %> </h4>
</body>
</html>