<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll device</title>
</head>

<body>
    <h1>Roll the dice</h1>
    <hr>
    <h3>
        <%=diceVal%>
    </h3>
</body>

</html>