<%- include("includes/head.ejs") %>
<body>
    <h1>Refresh a page to Roll a dice</h1>
    <h3> <%= diceVal%> </h3>
    <% if(diceVal == 6) { %>
        <h2>Nice ! roll again</h2>
   <% }  %>
</body>
</html>