*{
    margin: 0;
    padding: 0;
}
header nav .nav_container{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: start;
    background-color: #000000a8;
}
.nav_container .logo{
    /* border: 2px solid black; */
    width: 14vw;
    height: 10vh;
}
.nav_container .logo i{
    position: absolute;
    top: 4%;
    left: 12%;
    transform: scale(2);
}
.items ul {
    display: flex;
    width: 45vw;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
}
.items ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
/* .items ul li span{
    position: absolute;
    top: 25px;
} */